/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.task {
  display: flex;
  flex-flow: row wrap;
  min-width: 200px;
  justify-content: space-around;
  padding: 2px 5px;
  border: 1px solid black;
}

.task__icon {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.tarea-contenedor.completada {
  background-color: violet;
  text-decoration: line-through;
}

.completada {
  background-color: yellow;
}
